<h2>Add a new Name</h2>
<ul>
  <li>
    {{input value=name placeholder="First Name"}}
  </li>
  <li>
    <button {{action "addName"}} >Add</button>
  </li>
</ul>

<section>
  {{#each}}
    <div>{{first}}</div>
  {{/each}}
</section>
